header {
    background-color: rgb(247, 188, 100);
    height: 130px;
    display: flex;
    justify-content: center;
    /* font-family: Arial, Helvetica, sans-serif; */
}

h1 {
    font-size: 50px;
    color: #000000;
    text-align: center;

}

nav {   
    background-color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}
nav a:link {color: black;}
nav a:visited {color: grey;}
nav a:hover {color: rgb(247, 188, 100);}

.slideshow {
    justify-content: center;
    display: flex;
}

#roadimage {
    background-image: url(assets/nikeAirForce1/white1.png);
    background-size: 100% 100%;
    height: 150px;
    width: 350px;
    margin-left: 30px;
    margin-right: 40px;
    float: left;
}

main {
    padding: 10px 10px 66px 14px;
    background-color: rgb(199, 205, 207);
    color: #2b1d0e;
}

h2 {
    background-color: white;
    font-size: 30px;
    color: black;
    text-align: center;
    border-style: solid;
    border-width: 2px;
}

.shoetable td {
    padding-top: 10px;
    /* padding-bottom: 10px; */
    padding-left: 10px;
    padding-right: 10px;
}

.shoetable tr:nth-of-type(odd) {
    text-align: center;
    width: 100%;
}

.shoetable tr:nth-of-type(even) {
    width: 100%;
    font-weight: bold;
}

#shoe {
    max-width:100%;
    max-height:100%;
}

.flex-row-container {
    background: #aaa;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex-row-item1 {
    flex: 30%;
    background-color: #FFFFFF;
    padding-left: 15px;
    padding-right: 15px;
    height: 175px;

}
.flex-row-item2 {
    flex: 25%;
    background-color: #FFFFFF;
    padding-left: 15px;
    padding-right: 15px;
    height: 175px;

}
.flex-row-item3 {
    flex: 35%;
    background-color: #FFFFFF;
    padding-left: 15px;
    padding-right: 15px;
    height: 175px;
}

#paymentImage {
    width: 100%;
}

.month {
    background: #d1b38e;
    font-weight: bold;
    font-size: large;
}

#musicTable {
    width: 85%;
    margin: auto;
    border-spacing: 0px;
    padding-left: 60px;
    padding-right: 50px;
}

#musicTable td:nth-of-type(even){
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

#musicImage {
    flex-grow: 1;
}
.musicImage img {
    width: 80%;
    height: 80%;
    padding-left: 20px;
}

form {
    font-family: Verdana, Arial, sans-serif;
    width: 420px; 
    height: 200px;
}

label {
    /* display: inline-block; */
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    margin-bottom: 14px;
}

input[type=text], input[type=date], input[type=email], textarea {
    float: left;
    margin-left: 50px;
    /* display: inline-block; */
    margin-bottom: 14px;
}

input[type=submit], input[type=reset] {
    margin-top: 20px;
    margin-right: 200px;
    float: left;
}

body {
    margin: auto; 
    background-color: #FFFFFF;
    font-size: 13px;
    width: 1000px;
    color: #3B230B;
    font-family: Verdana, Arial, sans-serif;

}

footer {
    background-color: #FFFFFF;
    font-size: 11px;
    font-style: italic;
    /* text-align: center; */
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#wrapper {
    background-color: #FFFFFF;
}

head, footer, #wrapper {
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 5px 5px 8px black;
    color: #000000;
}

.contact a {
    color: #3B230B;
}
